/* variable CSS */
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --title-color: #0B0A0A;
  --text-color: #403A3A;
  --text-color-light: #707070;
  --container-color: #FAFAFA;
  --container-color-alt: #F0EFEF;
  --body-color: #FCFCFC;

  /*========== Font and typography ==========*/
  /* --body-font: 'Montserrat', sans-serif; */
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  /*24px*/
  --h2-font-size: 1.25rem;
  /*20px*/
  --h3-font-size: 1rem;
  /*16px*/
  --normal-font-size: .938rem;
  /*15px*/
  --small-font-size: .875rem;
  /*14px*/
  --smaller-font-size: .813rem;
  /*13*/

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margin ==========*/
  --mb-1: .5rem;
  /*8px*/
  --mb-2: 1rem;
  /*16px*/
  --mb-3: 1.5rem;
  /*24px*/

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  max-width: 100%;
}
.text--blue{
  color: rgb(20, 55, 116)
}
.section {
  padding: .5rem 0;
}

.section-title {
  font-size: var(--h2-font-size);
  font-family: 'IBM Plex Mono', monospace;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: .1rem;
  text-align: center;
  margin-bottom: var(--mb-2);
}
/* util */
.spacing-m{
  padding-bottom: 2rem;
}
.spacing-l{
  padding-bottom: 7rem;
}
/* LAYOUT */
.bd-container{
  max-width: 968px;
  /* border: 1px solid red; */
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3); 
}

.bd-grid{
  display: grid;
  gap: .5rem;
}

.l-header{
 width: 100%;
 position: fixed;
 bottom: 0;
 left: 0;
 z-index: var(--z-fixed); /*100*/
 background-color: var(--body-color);
 box-shadow: 0 -1px 4px rgba(0, 0 , 0, .1);
 /* transition: .3s; */
}

/* NAV */
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* in small width, won't show menu */
@media screen and (max-width: 968px){
 .nav--menu{
  position: fixed;
  /* bottom: -100%; disappear the menu */
  left: 0;
  width: 100%;
  padding: 2rem 1.5rem;
  background-color: var(--body-color);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
  border-radius: 1rem 1rem 0 0;
  z-index: var(--z-fixed);
  transition: .3s;
  } 
}

.nav--logo,
.nav--toggle{
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav--toggle{
  font-size: 1.2rem;
  cursor: pointer;
}

.nav--item{
  text-align: center;
}

.nav--list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav--link{
  display: flex;
  flex-direction: column;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  font-weight: var(--font-medium);
}
.nav--link:hover{
  color: var(--title-color);
}
.nav--icon{
  font-size: 1.2rem;
  margin-bottom: var(--mb-1);
}
.show-menu{
  bottom: var(--header-height);
}
.active-link{
  color: var(--title-color);
}

/* HOME */
.home{
  position: relative;
}
.home--container{
  gap: 3rem ;
}
.home--data{
  gap: .5rem;
  text-align: center;
}
.home--img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-self: center;
  margin-bottom: var(--mb-1);
}
.home--title{
  font-size: var(--h1-font-size);
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
}
.home--profession{
  font-size: var(--normal-font-size);
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
  margin-bottom: var(--mb-1);
  color: rgb(20, 55, 116)
}
.home--address{
  gap: 1rem;
}
.home--information{
  display: flex;
  align-items: center;
  font-size: var(--small-font-size);
}
.home--icon{
  font-size: 1.2rem;
  margin-right: .25rem;
}
.home--button-movil{
  display: inline-block;
  border: 2px solid var(--text-color);
  color: var(--title-color);
  padding: 1rem 2rem;
  border-radius: .25rem;
  transition: .3s;
  font-weight: var(--font-medium);
margin-top: var(--mb-3);
}
.home--button-movil:hover{
  background-color: var(--text-color);
  color: var(--container-color);
}

/* SOCIAL */
.social--container{
  grid-template-columns: max-content;
  gap: 1rem;
}
.social--link{
  display: inline-flex;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
}
.social--link:hover{
  color: var(--title-color);
}
.social--icon{
  font-size: 1.2rem;
  margin-right: .25rem;
}
.profile--description{
  text-align: center;
}
.profile--content{
  padding: 0 1rem;
}
/* EDUCATION */
.education--container{
  padding: 0 1rem;
  gap:1rem;
}
.education--content, .skills--content{
  display: flex;
}
.education--time, .experience--time{
  padding-right: 1rem;
}
.education--rounder, .experience--rounder{
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--text-color-light);
  border-radius: 50%;
  margin-top: .25rem;
}
.education--line, .experience--line{
  display: block;
  width: 2px;
  height: 110%;
  background-color: var(--text-color-light);
  transform: translate(7px, 0);
}
.education--data, .experience--data{
  gap: .2rem;
}
.education--title, .experience--title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}
.education--studies, .experience--company{
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
}
.experience--description{
  font-size: var(--small-font-size);
}

/* SKILSS */
.skills--content{
  padding: 0 1rem;
}
.skills--content{
  grid-template-columns: repeat(2, 1fr);
}
.skills--name{
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-3);
}
.skills-circle, .languages--circle{
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--text-color);
  border-radius: 50%;
  margin-right: .75rem;
}

/* CERTIFICATES */
.certificate--title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}

/* REFERENCES */
/* .references--container{
 grid-template-columns: repeat(2, 1fr); 
} */
.references--content{
  display: flex;
  flex-direction: column;
  gap: .25rem;
}
.references--subtitle{
  color: var(--text-color-light);
}
.references--subtitle,.references--contact{
  font-size: var(--smaller-font-size);
}
.references-title{
  font-size: var(--h2-font-size);
}
.references--description{
  width: 100%;
}
/* experience  */
.exp--point{
  margin-bottom: .5rem;
}
.experience--container{
  gap: 1rem;
}
.experience--data{
  padding: 0 1rem;
}
.experience--time, .education--year {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.experience--description {
  font-size: var(--small-font-size);
}
/* INTERESTS */
.interests--container{
  grid-template-columns: repeat(2, 1fr);
  margin-top: var(--mb-2);
}

.interests--content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.interests--icon{
  font-size: 1rem;
  color: var(--text-color-light);
}

.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background-color: var(--container-color-alt);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility:hidden
}

.scrolltop--icon{
  font-size: 1.2rem;
  color: var(--text-color);
}
.show-scroll{
  visibility: visible;
  bottom: 5rem;
}

/* media queries */
/* smalldevices 2 column grid */
@media screen and (max-width:320px){
  .nav--list{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem .5rem;
  }
}

/* large screen */
@media screen and (min-width:968px) {
  body{
    margin: 3rem 0 ;
  }
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }
  .l-header, .scrolltop{
    display: none;
  }
  .resume{
    display: grid;
    grid-template-columns: .5fr 1fr;
    background-color: var(--container-color);
    box-shadow: 0 0 8px rgba(13, 12, 12, .15);
  }
  .resume--left{
    background-color: var(--container-color-alt);
  }
  .resume--left,
  .resume--right{
    padding: 3rem 1.5rem
  }
  .section-title,
  .profile--description{
    text-align: initial;
  }
  .home--container{
    gap: 1.5rem;
  }
  .home--button-movil{
    display: none;
  }
  .references--container{
    grid-template-columns: repeat(2, 1fr);
    
  }
  .languages--content{
    /* grid-template-columns: repeat(2, max-content); */
    gap: .5rem;
  }
  .languages--container{
    padding: 0 1rem;
  }
  .interests--container{
    grid-template-columns: repeat(3, max-content);
    column-gap: 3.5rem;
  }
  .generate-pdf{
    display: inline-block;
  }
}

/* DARK LIGHT THEME */
.change-theme{
  position: absolute;
  right: 0;
  top: 2.2rem;
  display: flex;
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer;
}
/* variables for dark theme */
body.dark-theme{
  --title-color: #f2f2f2;
    --text-color: #bfbfbf;
    --container-color: #212121;
    --container-color-alt: #181616;
    --body-color: #2b2b2b;
}

/* generate PDF */
.generate-pdf{
  display: none ; 
  position: absolute;
  top: 2.2rem;
  left: 0;
  font-size: 1.2rem;
  color: var(--text-color);
  cursor: pointer;
}
.generate-pdf:hover{
  color: var(--title-color);
}
.ger-page{
  position: absolute;
  top: 4rem;
  left: 0;
  font-size: 1.2rem;
  color: var(--text-color);
  cursor: pointer;
}
.generate-pdf:hover{
  color: var(--title-color);
}


/* font size variables to scale to CV*/
body.scale-cv{
  --h1-font-size: .938rem;
    /*24px*/
    --h2-font-size: .938rem;
    /*20px*/
    --h3-font-size: .875rem;
    /*16px*/
    --normal-font-size: .813rem;
    /*15px*/
    --small-font-size: .75rem;
    /*14px*/
    --smaller-font-size: .688rem;
    /*13*/
}

/* Classses modified to reduce size and A4 */
.scale-cv .change-theme,
.scale-cv .generate-pdf,
.scale-cv .ger-page{
  display: none;
}
.scale-cv .bd-grid{
  gap: .5rem;
}
.scale-cv .bd-container{
  max-width: 595px;
}
/* .scale-cv .section{
  padding: .5rem .8rem;
} */
.scale-cv .section-title{
  margin-bottom: .75rem;
}
.scale-cv .resume--left,
.scale-cv .resume--right{
  /* padding: 0 1rem; */
  padding: 3rem 1rem;
}
.scale-cv .home--img{
  width: 90px;
  height: 90px;
}
.scale-cv .interests--container{
  grid-template-columns: repeat(3, 1fr);
}
.scale-cv .home--container{
  gap: 1.5rem;
}
.scale-cv .home--data{
  gap: .25rem;
}
.scale-cv .home--address, 
.scale-cv .social--container{
  gap: .75rem;
}

.scale-cv .home--icon,
.scale-cv .social--icon,
.scale-cv .interests--icon{
  font-size: 1rem;
}

.scale-cv .education--container,
.scale-cv .experience--container,
.scale-cv .certificate--container{
  gap: .8rem;
}

.scale-cv .education--time,
.scale-cv .experience--time{
  padding-right: .5rem;
}

.scale-cv .education--rounder,
.scale-cv .experience--rounder{
  width: 11px;
  height: 11px;
  margin-top: .22rem;
}
.scale-cv .education--line,
.scale-cv .experience--line{
  width: 1px;
  height: 110%;
  transform: translate(5px, 0);
}
.scale-cv .education--data,
.scale-cv .experience--data{
  gap: .25rem;
}
.scale-cv .skills--name{
  margin-bottom: var(--mb-1);
}
.scale-cv .interests--container{
  column-gap: 2rem;
}

